@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

.headings {
    color: darksalmon;
    display: inline-block;
    border-bottom: 5px solid gray;
}

.navbar {
    background-image: url("assets/stephan-louis-mN8H_fe040Y-unsplash\ \(1\).jpg");
    height: 60px;
}

.navbar-brand img {
    width: 20% !important;
    height: 50px;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 0;
    border-radius: 50px;
}

.nav-link {
    width: 150px;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.nav-link:hover {
    width: 150px;
    color: orange;
}

.navbar-toggler-icon {
    background-color: #ffff;
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
}

.bannertext {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    color: white;
    padding: 20px 50px;
    text-align: end;
}

.bannertext h1 {
    display: inline-block;
    font-size:clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem) !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition-duration: 2s;
    animation-iteration-count: infinite;
    animation: moving 3s ease-in-out infinite;
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

/*why choose us*/
.whychooseimg1 img,
.whychooseimg2 img,
.whychooseimg3 img,
.whychooseimg4 img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #121A28;
}

.whychooseimg {
    transition-duration: 3s;
}

.whychooseimg img:hover {
    box-shadow: 1px 1px 10px #663d0e;
}

.whychoose {
    width: 100%;
    height: 100%;
}

.whychooseimg1,
.whychooseimg2,
.whychooseimg3,
.whychooseimg4 {
    width: auto;
    position: relative;
    transition-duration: 2s;

}

.whychooseimg1:hover,
.whychooseimg2:hover,
.whychooseimg3:hover,
.whychooseimg4:hover {
    box-shadow: 1px 1px 10px burlywood;
}

.wing1,
.wing2,
.wing3,
.wing4 {
    width: 300px;
    height: 100%;
}

.wtext1,
.wtext2,
.wtext3,
.wtext4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}

.wtext h4 {
    padding: 20px;
}


/*about us*/
.abouttext h4 {
    color: aqua;
    background-color: #121A28;
}

.abouttext p {
    font-weight: 400;
    line-height: 30px;
}

.aboutus {
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px grey;
}

.about h4 {
    padding: 0 10px;
}

.services h4 {
    display: inline-block;
}

.services h4 {
    color: #663d0e;
}

.services p {
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(246, 233, 233);
}

.services img {
    width: 65%;
}

/*testimonials*/
.testimonials {
    width: 100%;
    height: 250px;
    background-image: url("assets/df.jpg");
}

.carouseld {
    padding: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials h5 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

.testimonials .testi {
    height: 150px;
}

.bleft {
    color: white;
    font-size: 35px;
    padding-right: 130px;
    padding-bottom: 200px;
}

.bright {
    color: white;
    font-size: 35px;
    padding-left: 130px;
    padding-bottom: 200px;
}

.carousel-item {
    transition-duration: 1.50s;
}

/*contact us*/
.contact .submitb {
    margin-left: 200px;
}

.contactus i {
    font-size: 22px;
    padding-right: 10px;
    color: goldenrod;
}
/*footer*/
footer {
    width: 100%;
    height: auto;
    background-color: midnightblue;
}

.social {
    color: white;
    font-size: 17px;
    margin: 5px;
    transition-duration: 1s;
}

.social:hover {
    color: navajowhite;
}

footer li {
    line-height: 30px;
    font-size: 14px;
    color: white;
    list-style: none;
}
footer p{
    margin-bottom: 8px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
}

footer h6 {
    padding-top: 90px;
}
